.animate-spin-slow {
  animation: spin 30s ;
}

.animate-spin-slow-reverse {
  animation: spin-reverse 40s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}